
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* ocupa toda a altura da viewport */
  width: 260px;
  /* ajuste a largura conforme desejar */
  padding: 1rem;
  background: #141519 !important;
  border-right: 1px solid rgba(0, 0, 0, .05);
  z-index: 1020;
  overflow-y: auto;

  .nav-link {
    color: #fff;
    margin-bottom: 0.5rem;

    &:hover {
      color: #fff;
      background: #7F62F5;
      border-radius: 25rem;
    }

    &.active {
      font-weight: bold;
      color: #fff;
      background: #7F62F5;
      border-radius: 25rem;
    }
  }

}

.profile-foto {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(64, 64, 64, 0.509);

  .profile-nome {
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
  }
}

.btn-profile {
  .btn {
    display: flex;
    align-items: center;
    color: #dedede;
  }
}


.profile-area {
  .profile-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.509);
  }

  .profile-faca {
    color: #fff;
    font-size: 18px;
  }

  .profile-user {
    color: #fff;
    font-size: 13px;
  }
}

/* desloca o conteúdo principal quando o sidebar está visível (lg+) */
@media (min-width: 992px) {
  main {
    margin-left: 260px;
    /* deve corresponder à width do .sidebar */
  }
}

/* mantém o comportamento offcanvas em telas pequenas */
@media (max-width: 991.98px) {
  .sidebar {
    display: none;
    position: static;
    width: auto;
  }

  main {
    margin-left: 0;
  }
}