// @use '_fonts' as fonts;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #232323 !important;

    h2.bold {
        font-weight: 600;
    }
}

@media (min-width: 721px) {
    main {
        flex: 1;
        font-size: 14px;
        margin-left: 10rem;
        margin-right: 10rem;
        color: #333;
    }

    /* Sessão generica para todas "section" */
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
    }

    form {
        /* Light */
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        margin-bottom: 0px;
        width: 90%;
        // height: 80%;
        max-height: 280px;
        justify-self: center;
        overflow-y: auto;

        fieldset {
            border: 1px solid #7F62F5;
            border-radius: 8px;
        }

        fieldset legend {
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-light;
            font-size: 11px;
            color: #ffffff;
            margin-left: 10px;
            margin-bottom: 0px;
            float: none;
            width: auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        input {
            width: 90%;
            background-color: transparent;
            font-size: 12px;
            border: none;
            outline: none;
            padding-left: 15px;
            justify-content: center;
            align-items: center;
        }

        .icons-background {
            background-color: transparent;
            border: none;
        }

        .icons-background i {
            color: #ffffff;
        }

        button {
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-semibold;
            padding: 10px;
            background-color: #7F62F5;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            margin-top: 3%;
            color: white;

            &:hover {
                background-color: #5f49b7;
            }
        }
    }

    /* Scrollbar do form */
    form::-webkit-scrollbar {
        width: 8px;
    }

    form::-webkit-scrollbar-track {
        margin: 20px 0;
    }

    form::-webkit-scrollbar-thumb {
        background-color: #7F62F5;
        border-radius: 10px;
        margin-top: 400px;
    }

    .section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 70vh;
        background-image: url('/assets/img/barbelogin.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 45px 0px 0px 45px;

        h2 {
            color: #f5f5f5;
            font-size: 40px;
            margin-bottom: 40px;
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-bold;

        }

        img {
            width: 400px;
            height: 200px;
        }
    }

    .section-right {
        width: 35%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
        background-color: #141519;
        border-radius: 0px 45px 45px 0px;

        h2 {
            margin-top: 4%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-bold;
            color: white;
            margin-left: 2rem;
        }

        img {
            display: flex;
            flex-direction: center;
            justify-content: center;
            align-items: center;
            right: 50px;
            left: 50px;
            width: 110px;
            height: 110px;
            margin-bottom: -2%;
        }

        button {
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-semibold;
            padding: 10px;
            background-color: #7F62F5;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            margin-top: 3%;
            color: white;

            &:hover {
                background-color: #5f49b7;
            }
        }

        input {
            width: 90%;
            background-color: transparent;
            font-size: 12px;
            border: none;
            border-color: #7F62F5;
            outline: none;
            padding-left: 15px;
            justify-content: center;
            align-items: center;
        }

        label {
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-light;
            font-size: 13px;
            color: #c0c0c0;
            margin-bottom: 5px;
            margin-left: 5px;
        }



        // Botão do google
        .google-login {
            justify-content: center;
            text-align: center;
            margin-top: 2%;
            display: flex;
            align-items: center;
            gap: 20px;
            /* espaço entre ícone e texto */
            padding: 10px;
            background-color: #33618500;
            border: 1px solid #7F62F5;
            border-radius: 20px;
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-light;
            color: #c0c0c0;
            min-width: 50px
        }

        .google-icon {
            width: 18px;
            height: 18px;
        }

        .signup-link {
            // font-family: fonts.$font-primary;
            // font-weight: fonts.$font-weight-light;
            margin-top: 3%;
            gap: 1;
            font-family: 'Inter', light;
            font-size: 13px;
            color: #c0c0c0;
            text-align: center;
        }

        .signup-link .create-account {
            color: #7F62F5;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
            margin-left: 5px;
            transition: color 0.3s ease;
        }
    }
}

.title-dasboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        color: #FFFFFF;
    }

    p {
        color: #A9A8A8;
        line-height: 1.5;
    }

    .btn-primary {
        color: #FFFFFF;
        background-color: #7F62F5;
        border-radius: 8px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: #5d49ac;
        }
    }

    .btn-pdf {
        color: #FFFFFF;
        background-color: #7F62F5;
        border-radius: 8px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: #5d49ac;
        }
    }
}