// _colors.scss

// Centraliza todas as cores.

:root {

  --primary: #7F62F5;   

  --secondary: #141519;

  --tertiary: #232323;

  --quaternary: #2a2d31;  

  --danger: #DC4535;

  --success: #2ecc71;;

}

// Responsável por:

// cores
// tema
// identidade visual

// main ->  background: #232323; text-color: #fff;
// navbar ->  background: #232323; text-color: #ffffff;
// sidebar ->  background: #141519; text-color: #ffffff; nav-link-background: #7F62F5;  text-color-sair: #text-danger;

// styles -> background-color: #232323      color: #333;    border: 1px solid #7F62F5;    color: #ffffff;   color: #FFFFFF;
//           color: white;       background-color: #5f49b7;      color: #f5f5f5;     background-color: #141519;     
//           color: #c0c0c0;     background-color: #33618500;    color: #A9A8A8;     background-color: #5d49ac;