// _typography.scss

// Tipografia.

// $font-primary: 'Inter', sans-serif;

// Responsável por:

// fontes
// títulos
// parágrafos



// sidebar -> font-weight: bold;    font-size: 14px;    font-size: 13px;    font-size: 18px;
// navbar ->  font-size: 14px;      font-size: 16px;
// styles ->  font-family: 'Inter', light;      font-size: 11px;      font-size: 12px;    font-size: 40px;    font-size: 30px;    font-size: 12px;    font-size: 13px;    font-size: 13px;