<section>

  <h1>
    Serviços
  </h1>

  <p>
    Gerencie os serviços da sua barbearia
  </p>

  <app-create-service />

  @if (services().length > 0) {

    <div>

      @for (
        service of services();
        track service.id
      ) {

        <article>

          <div>

            <div>

              <i class="bi bi-scissors"></i>

              <h2>
                {{ service.serviceDescription }}
              </h2>

            </div>

            <div>

              <button type="button" (click)="remove(service.id)">Remove 
                <i class="bi bi-trash"></i>
              </button>

            </div>

          </div>

          <div>

            <span>
              <i class="bi bi-cash"></i>

              R$ {{ service.value }}
            </span>

            <span>

              <i class="bi bi-tag"></i>

              {{ service.category }}

            </span>

          </div>

        </article>

      }

    </div>

  } @else {

    <div>

      <i class="bi bi-exclamation-circle"></i>

      <p>
        Nenhum serviço cadastrado.
      </p>

    </div>

  }

</section>