<h2 class="bold">Register Barbearia</h2>
<form [formGroup]="registerForm" (ngSubmit)="registerBarbershop()">
    <fieldset>
        <legend>E-mail</legend>
        <div>
            <span>
                <i class="bi bi-envelope-check-fill"></i>
            </span>
            <input type="email" formControlName="login" id="login" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Nome</legend>
        <div>
            <span>
                <i class="bi bi-envelope-check-fill"></i>
            </span>
            <input type="text" formControlName="name" id="name" required>
        </div>
    </fieldset>
    <fieldset>
        <legend>Telefone</legend>
        <div>
            <span>
                <i class="bi bi-envelope-check-fill"></i>
            </span>
            <input type="tel" formControlName="phone" id="phone" required>
        </div>
    </fieldset>
    <fieldset>
        <legend >Senha</legend>
        <div >
            <span>
                <i class="bi bi-phone-fill"></i>
            </span>
            <input type="password" formControlName="password" id="password" required>
        </div>
    </fieldset>
    <button type="submit">Register</button>
</form>
